version: '3.8'
services:
    frontend:
      build:
        context: ./app-frontend 
      ports:
        - "3000:3000"
      networks:
        - innews_env
      volumes: 
        - ./app-frontend:/app
        - /app/node_modules

    backend:
      build:
        context: ./app-backend/
      restart: unless-stopped
      environment:
        MYSQL_HOST: appdb
        MYSQL_PORT: 3306
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        MYSQL_PASSWORD: ${DB_PASSWORD}
        MYSQL_USER: ${DB_USERNAME}
      working_dir: /var/www
      command: php -S 0.0.0.0:8000 public/index.php
      volumes:
        - ./app-backend:/var/www
      ports:
        - "8000:8000"
      links:
        - appdb
      networks:
        - innews_env

    appdb:
      image: mysql:8.0
      restart: unless-stopped
      environment:
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        MYSQL_PASSWORD: ${DB_PASSWORD}
        MYSQL_USER: ${DB_USERNAME}
      volumes:
        - ./initdb:/docker-entrypoint-initdb.d
      ports:
        - 3306:3306
      networks:
        - innews_env

    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      restart: unless-stopped
      environment:
        PMA_HOST: appdb
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      depends_on:
        - appdb
      ports:
        - 8443:80
      networks:
        - innews_env

volumes:
    db_data: {}
networks:
    innews_env: