.wrapper {
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  padding: 60px 40px;
}

header .top-bar {
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  flex-shrink: 0;
  padding: 40px;
  white-space: nowrap;
  width: 100%;
  font-size: 14px;
  justify-content: space-between;
}

header .top-bar > * {
  width: calc(100% / 3);
}

header .logo {
  text-align: center;
}

header .buttons {
  text-align: right;
}

header .bottom-bar {
  border-bottom: 1px solid var(--placeholder-color);
}

header nav {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
}

header nav a {
  padding-bottom: 7px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

header nav a.active {
  border-bottom-color: var(--border-color);
}

button {
  background-color: var(--button-background);
  border: none;
  border-radius: 50px;
  color: var(--button-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.search {
  width: 100%;
  max-width: 250px;
  position: relative;
  display: flex;
}

.search-term {
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 12px 15px;
  border-radius: 50px;
  outline: none;
  background: transparent;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 15px;
  padding: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  text-align: center;
  color: var(--border-color);
  cursor: pointer;
  font-size: 20px;
}

article {
  display: none;
  margin-bottom: 20px;
  animation: all ease 0.4s;
}

article.active {
  display: block;
}

article .img-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border-radius: 5px;
  overflow: hidden;
}

article .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article .img-container button {
  position: absolute;
  top: 30px;
  left: 30px;
}

article .container {
  position: relative;
  margin: 0 auto;
  margin-top: -160px;
  width: calc(100% - 160px);
  border-radius: 5px;
  background-color: var(--body-bg-color);
  z-index: 1;
}

article .container span.info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
}

article .container span.info span {
  width: 15px;
  height: 2px;
  background-color: var(--body-color);
}

.slider {
  margin-bottom: 40px;
}

.slider .title {
  cursor: pointer;
}

.slider .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
}

.slider .navigation .bullets {
  display: flex;
  gap: 8px;
}

.slider .navigation .bullets span {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid var(--body-color);
  border-radius: 50%;
  cursor: pointer;
}

.slider .navigation .bullets span:hover,
.slider .navigation .bullets span.active {
  border-bottom-color: var(--heading-color);
  background-color: var(--heading-color);
}

.slider .navigation .arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider .navigation .arrows > * {
  color: var(--body-color);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.slider .navigation .arrows > *:hover {
  color: var(--heading-color);
}

.news-category .home-category {
  padding: 60px 40px;
  border-top: 1px solid var(--heading-color);
}

.site-footer {
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid var(--placeholder-color);
}

.site-footer .container {
  padding: 0;
}

.site-footer .container:nth-child(1) {
  padding: 60px 40px;
}

.site-footer .container:nth-child(2) {
  padding: 10px 40px;
  border-top: 1px solid var(--placeholder-color);
}

.site-footer .container:nth-child(1) .row {
  display: flex;
  gap: 40px;
}

.site-footer .container:nth-child(1) .row .col:nth-child(1) {
  width: 50%;
}

.site-footer .container:nth-child(1) .row .col:not(:nth-child(1)) {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.site-footer .container:nth-child(2) .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  text-transform: uppercase;
  margin-top: 5px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  border: 1px solid var(--border-color);
}

.copyright-text {
  margin: 0;
}

.social-icons {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 0px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:hover {
  color: var(--button-color);
  background-color: var(--button-background);
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  border-color: #3b5998;
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  border-color: #00aced;
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  border-color: #007bb6;
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  border-color: #ea4c89;
  background-color: #ea4c89;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 0 15px;
  }

  .container {
    padding: 40px 0;
  }

  header .navigation,
  header .buttons {
    display: none;
  }

  header .top-bar {
    padding: 15px 0;
  }

  header .top-bar > * {
    width: 100%;
  }

  header .bottom-bar .menu-wrapper {
    display: none;
  }

  article .img-container button {
    top: 20px;
    left: 20px;
  }

  article .container {
    margin-top: -80px;
    padding: 20px;
    width: calc(100% - 40px);
  }

  .slider .navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  .slider .navigation .bullets span {
    width: 8px;
    height: 8px;
  }

  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }

  .site-footer .container:nth-child(2) .row {
    display: inline-block;
  }

  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }

  .site-footer .container:nth-child(1){
    padding: 40px 0;
  }

  .site-footer .container:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }

  .site-footer .container:nth-child(1) .row {
    display: block;
  }

  .site-footer .container:nth-child(1) .row .col {
    display: block !important;
    width: 100% !important;
  }

  .site-footer .container:nth-child(1) .row .col:not(:last-child) {
    margin-bottom: 40px;
  }

  .site-footer .container:nth-child(2) .row {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .copyright-text,
  .social-icons {
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 10px;
  }
}
