/* ANIMATION */
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

/* STYLES */
.wrapper {
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  padding: 60px 40px 0 40px;
}

.container span.info:first-child p {
  margin: 0;
  font-weight: 600;
}

.container span.info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
}

.container span.info span {
  width: 15px;
  height: 2px;
  background-color: var(--body-color);
}

article .title {
  cursor: pointer;
}

article .title:hover {
  color: var(--active-color);
}

header .top-bar {
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  flex-shrink: 0;
  padding: 40px;
  white-space: nowrap;
  width: 100%;
  font-size: 14px;
  justify-content: space-between;
}

header .top-bar > * {
  width: calc(100% / 3);
}

header .logo {
  text-align: center;
}

header .buttons {
  text-align: right;
}

header .drawer {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--body-bg-color);
  transition: height 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 4;
}

header .drawer button {
  position: relative;
  display: block !important;
  width: calc(100% - 30px);
  border-radius: 5px;
  opacity: 0;
  left: 15px;
  bottom: 40px;
  animation: 1s appear forwards;
  animation-delay: var(--animation-delay);
}

header .drawer.open {
  height: 100%;
}

header .drawer .menu-list {
  text-align: left;
}

header .drawer .menu-list {
  padding: 72px 15px 40px 15px;
}

header .drawer .menu-item-wrapper {
  opacity: 0;
  animation: 1s appear forwards;
  animation-delay: var(--animation-delay);
}

header .drawer .menu-item-wrapper {
  margin-bottom: 20px;
}

header .drawer .menu-item-text {
  position: relative;
  animation: 3.5s slideIn forwards;
  animation-delay: var(--animation-delay);
  transform: translateX(-20%);
}

header .search-drawer {
  position: absolute;
  top: -100%;
  left: 0;
  height: fit-content;
  width: 100vw;
  background: var(--body-bg-color);
  transition: top 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 2;
}

header .search-drawer > div {
  padding: 72px 15px 40px 15px;
}

header .search-drawer.open {
  top: 0;
}

header .search-drawer input {
  opacity: 0;
  animation: 1s appear forwards;
  animation-delay: 0.2s;
}

header .search-drawer .search-term {
  padding-right: 15px;
}

header .bottom-bar {
  border-bottom: 1px solid var(--placeholder-color);
}

header nav {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
}

header nav a {
  padding-bottom: 7px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

header nav a.active {
  border-bottom-color: var(--border-color);
}

.search {
  width: 100%;
  max-width: 250px;
  position: relative;
  display: flex;
}

.search-icon {
  position: relative;
  display: none;
  line-height: 0;
  color: var(--heading-color);
}

.search-icon.open {
  z-index: 5;
}

.search-term {
  padding-right: 45px;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 15px;
  padding: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  text-align: center;
  line-height: 0;
  color: var(--border-color);
  cursor: pointer;
  font-size: 20px;
}

.slider article {
  display: none;
  margin-bottom: 20px;
  animation: all ease 0.4s;
}

.slider article.active {
  display: block;
}

.slider article .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider article .img-container button {
  position: absolute;
  top: 30px;
  left: 30px;
}

.slider article .container {
  position: relative;
  margin: 0 auto;
  margin-top: -160px;
  width: calc(100% - 160px);
  border-radius: 5px;
  background-color: var(--body-bg-color);
  z-index: 1;
}

.img-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border-radius: 5px;
  overflow: hidden;
}

.slider {
  margin-bottom: 60px;
}

.slider .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
}

.slider .navigation .bullets {
  display: flex;
  gap: 8px;
}

.slider .navigation .bullets span {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid var(--body-color);
  border-radius: 50%;
  cursor: pointer;
}

.slider .navigation .bullets span:hover,
.slider .navigation .bullets span.active {
  border-bottom-color: var(--heading-color);
  background-color: var(--heading-color);
}

.slider .navigation .arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider .navigation .arrows > * {
  color: var(--body-color);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.slider .navigation .arrows > *:hover {
  color: var(--heading-color);
}

.news-category .home-category {
  position: relative;
  padding: 60px 0px;
}

.category > h2,
.news-category .home-category > h2 {
  width: fit-content;
  margin-bottom: 60px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
  transition: all 0.4s ease;
}

.category:hover > h2,
.news-category .home-category:hover > h2 {
  background-size: 100% 100%;
}

.news-category .home-category .container {
  padding: 0;
}

.news-category .home-category .first-article span.info {
  margin-top: 20px;
}

.news-category .home-category .other-article {
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.news-category .home-category .other-article article {
  position: relative;
}

.news-category .home-category .other-article article:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -31px;
  left: 0;
  background-color: var(--heading-color);
}

.news-category .home-category::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: calc(100% + 80px);
  height: 1px;
  background-color: var(--placeholder-color);
}

.news-category .home-category .articles-container {
  display: flex;
  gap: 60px;
  flex-direction: row-reverse;
}

.news-category .home-category .articles-container > * {
  width: calc(50% - 30px);
}

.category .first-wrapper {
  margin-bottom: 60px;
}

.category .first-wrapper article {
  display: flex;
  gap: 40px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.category .first-wrapper article > div:nth-child(1) {
  width: calc(50% - 20px);
}

.category .first-wrapper article > div:nth-child(2) {
  width: calc(50% - 20px);
  max-width: 450px;
}

.category .first-wrapper article .container {
  padding: 0;
}

.category .second-wrapper,
.search-page .articles-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.category .second-wrapper article,
.search-page article {
  width: calc((100% / 3) - (80px / 3));
}

.category .second-wrapper article .container,
.search-page article .container {
  padding: 20px 0;
}

.search-page .filter {
  position: relative;
  margin-bottom: 60px;
  z-index: 1;
}

.dashboard {
  margin-bottom: 60px;
}

.dashboard > h5 {
  margin-bottom: 40px;
}

.dashboard .personal-preferences,
.search-page .filter {
  padding: 40px 28px;
  border: solid 1px var(--placeholder-color);
  border-radius: 5px;
}

.dashboard .personal-preferences h6,
.search-page .filter h6 {
  margin-bottom: 40px;
}

.search-page .filter .option {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.search-page .filter .option > div {
  position: relative;
  width: calc((100% / 3) - (80px / 3));
}

.dashboard .personal-preferences .option > div {
  margin-bottom: 20px;
}

.dashboard .personal-preferences label,
.search-page .filter .option label {
  display: block;
  margin-bottom: 10px;
}

.dashboard .personal-preferences p,
.search-page .filter .option p {
  font-size: 0.825rem;
  font-style: italic;
  margin-bottom: 0px;
}

.dashboard .personal-preferences .action,
.search-page .filter .action {
  text-align: right;
}

.dashboard .personal-preferences button,
.search-page .filter .action button {
  margin-top: 40px;
}

.search-page .filter input {
  border-radius: 5px;
  border-color: var(--placeholder-color);
}

.site-footer {
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid var(--placeholder-color);
}

.site-footer .container {
  padding: 0;
}

.site-footer .container:nth-child(1) {
  padding: 60px 40px;
}

.site-footer .container:nth-child(2) {
  padding: 10px 40px;
  border-top: 1px solid var(--placeholder-color);
}

.site-footer .container:nth-child(1) .row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.site-footer .container:nth-child(1) .row .col:nth-child(1) {
  width: calc(50% - (80px / 3));
}

.site-footer .container:nth-child(1) .row .col:not(:nth-child(1)) {
  width: calc(25% - (80px / 3));
  display: flex;
  justify-content: flex-end;
}

.site-footer .container:nth-child(2) .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  text-transform: uppercase;
  margin-top: 5px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links li a {
  color: var(--body-color);
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  border: 1px solid var(--border-color);
}

.copyright-text {
  margin: 0;
}

.social-icons {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 0px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:hover {
  color: var(--button-color);
  background-color: var(--button-background);
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  border-color: #3b5998;
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  border-color: #00aced;
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  border-color: #007bb6;
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  border-color: #ea4c89;
  background-color: #ea4c89;
}

.hamburger {
  position: relative;
  height: 32px;
  width: 32px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.hamburger.open {
  z-index: 5;
}

.line-top,
.line-middle,
.line-bottom {
  height: 1px;
  width: 20px;
  background-color: var(--heading-color);
  transition: all 0.2s ease;
}

.hamburger .line-top {
  transform-origin: top left;
  margin-bottom: 6px;
}

.hamburger .line-middle {
  opacity: 1;
}

.hamburger.open .line-middle {
  opacity: 0;
  transform: translateX(-16px);
}

.hamburger .line-bottom {
  transform-origin: top left;
  margin-top: 6px;
}

.hamburger.open .line-bottom {
  transform: translateX(-1px) rotate(-45deg);
}

.hamburger.open .line-top {
  transform: rotate(45deg);
}

.auth-form {
  text-align: center;
  max-width: 768px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.auth-form form > * {
  width: 100%;
}

.auth-form > h3 {
  margin-bottom: 15px !important;
}

.auth-form > *:not(:last-child),
.auth-form form > *:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 0 15px;
  }

  .container {
    padding: 40px 0 0 0;
  }

  .container span.info p {
    margin-block-start: 0.125em;
  }

  header .navigation .search,
  header .buttons button {
    display: none;
  }

  header .navigation .search-icon {
    display: block;
  }

  header .buttons .hamburger {
    display: flex;
  }

  header .top-bar {
    padding: 15px 0;
  }

  header .top-bar > * {
    width: 100%;
  }

  header .bottom-bar .menu-wrapper {
    display: none;
  }

  .news-category .home-category {
    padding: 30px 0;
  }

  .category > h2,
  .news-category .home-category > h2 {
    margin-bottom: 40px;
    background: linear-gradient(to top, yellow 40%, transparent 40%);
  }

  .news-category .home-category::before {
    left: 0px;
    width: 100%;
  }

  .news-category .home-category .first-article span.info {
    margin-top: 10px;
  }

  .news-category .home-category .articles-container {
    display: block;
  }

  .news-category .home-category .articles-container > * {
    width: 100%;
  }

  .news-category .home-category .other-article {
    gap: 15px;
  }

  .news-category .home-category .other-article article::before {
    display: none;
  }

  .category .first-wrapper {
    margin-bottom: 40px;
  }

  .category .first-wrapper article {
    display: block;
  }

  .category .first-wrapper article > * {
    width: 100% !important;
    max-width: 100% !important;
  }

  .category .first-wrapper article .img-container {
    margin-bottom: 20px;
  }

  .category .second-wrapper,
  .search-page .articles-container {
    gap: 20px;
    margin-bottom: 40px;
  }

  .category .second-wrapper article,
  .search-page article {
    width: 100%;
  }

  .category .second-wrapper article .title {
    font-size: 177.28%;
  }

  .dashboard {
    margin-bottom: 40px;
  }

  .dashboard > h5 {
    margin-bottom: 20px;
  }

  .dashboard .personal-preferences,
  .search-page .filter {
    border-width: 0;
    border-radius: 0;
  }

  .dashboard .personal-preferences {
    padding: 40px 0 0 0;
    border-top-width: 1px;
  }

  .dashboard .personal-preferences button,
  .search-page .filter .action button {
    width: 100%;
    border-radius: 5px;
  }

  .search-page .filter {
    padding: 0 0 40px 0;
    border-bottom-width: 1px;
  }

  .search-page .filter h6 {
    margin-bottom: 20px;
  }

  .search-page .filter .option {
    gap: 20px;
  }

  .search-page .filter .option > div {
    width: 100%;
  }

  .slider {
    margin-bottom: 40px;
  }

  .slider article .img-container button {
    top: 20px;
    left: 20px;
  }

  .slider article .container {
    margin-top: -80px;
    padding: 20px;
    width: calc(100% - 40px);
  }

  .slider .navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  .slider .navigation .bullets span {
    width: 8px;
    height: 8px;
  }

  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }

  .site-footer .container:nth-child(2) .row {
    display: inline-block;
  }

  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }

  .site-footer .container:nth-child(1) {
    padding: 40px 0;
  }

  .site-footer .container:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }

  .site-footer .container:nth-child(1) .row .col {
    display: block !important;
  }

  .site-footer .container:nth-child(1) .row .col:first-child {
    width: 100% !important;
  }

  .site-footer .container:nth-child(1) .row .col:not(:first-child) {
    width: calc(50% - 20px) !important;
  }

  .site-footer .container:nth-child(2) .row {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .copyright-text,
  .social-icons {
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 10px;
  }

  .auth-form {
    padding-bottom: 40px;
  }
}
